*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --hauptfarbe: #4caf50;
    --akzentfarbe: #2196f3;
    --hintergrundfarbe: #ffffff;
}

.container-fluid {
    width: 100vw;
}

.header {
    background-color: var(--akzentfarbe);
    background-color: aqua;
    color: whitesmoke;
    height: 10rem;
    padding: 2rem;
}

.container {
    margin: 10rem;
}

.btn-secondary {
    background-color: var(--akzentfarbe) background-color: brown;
    color: green;
    border: none;
    padding: 0.5rem;
}

.btn-primary {
    background-color: blueviolet;
    color: whitesmoke;
    border: none;
    padding: 0.5rem;
}

.container-fluid {
    background-color: cyan;
    background-color: var(--akzentfarbe);
    color: black;
    height: 10rem;
    padding: 2rem;
    font-size: 1rem;
}